{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block headerScripts %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
{% endblock %}

{% block pageHeader %}
    
{% endblock %}

{% block pageContent %}
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                {{ form(form,{'style':'vertical'}) }}
                <a href="{{ path('lsi.user.user.login') }}" class="btn btn-info">Back To Login</a>
                <a href="{{ path('lsi.user.user.forgot_password') }}" class="btn btn-warning pull-right">Forgot Password</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    {{ parent() }}
{% endblock %}